{
  "presets": ["react", "es2015" , "stage-0"],
  "plugins": [
    "rewire",
    "transform-flow-strip-types",
    "transform-regenerator"
  ],
  "env": {
    "start": {
      "presets": ["react-hmre"]
    }
  }
}
