{
  "parser"  : "babel-eslint",
  "extends": [
    "standard",
    "standard-react",
    "plugin:flowtype/recommended",
    "plugin:import/errors"
  ],
  "env": {
    "browser": true,
    "node": true
  },
  "globals": {
    "process": false,
    "require": false,
    "define": false,
    "console": false,
    "__DEV__": false
  },
  "rules": {
    "generator-star-spacing": 0,
    "max-len": [2, 120, 2],
    "object-curly-spacing": [2, "always"],
    "react/prop-types": [2, { ignore: ["children", "className"] }],
    "no-duplicate-imports": 0,
    "import/no-duplicates": 2,
    "spaced-comment": [2, "always", { "line": { "markers": ["*package", "!", ","], "exceptions": ["////"] } }]
  },
  "plugins": [
    "babel",
    "react",
    "promise",
    "flowtype",
    "import"
  ],
  "settings": {
    "import/ignore": [
      "server/models/Game",
      "server/models/Player",
      "server/models/SayNo",
      "server/models/CardRequest"
    ]
  }
}
