{
  "parser"  : "babel-eslint",
  "extends": ["standard", "standard-react"],
  "env": {
    "browser": true,
    "node": true
  },
  "globals": {
    "process": false,
    "require": false,
    "define": false,
    "console": false,
    "__DEV__": false
  },
  "rules": {
    "babel/generator-star-spacing" : 1,
    "generator-star-spacing"       : 0,
    "jsx-quotes"                   : [2, "prefer-single"],
    "max-len"                      : [2, 120, 2],
    "object-curly-spacing"         : [2, "always"]
  },
  "plugins": [
    "babel",
    "react",
    "promise"
  ]
}