<!DOCTYPE html>
<html>
  <head>
    <title>Monopoly Deal</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <% if (isProd) { %>
      <link href="/style.css" rel="stylesheet" type="text/css">
    <% } %>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  </head>
  <body>
    <div id="app"><div><%- html %></div></div>
    <script>
      window.__INITIAL_STATE__ = <%- initialState %>;
    </script>
    <script src="/bundle.js">
    </script>
  </body>
</html>